<div class="card-item col">
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
      <div class="row g-0">
        {% if project.img %}
        <div class="card-img col-md-6">
          <img style="max-width: 300px; object-fit: contain;" src="{{ project.img | relative_url }}" alt="project thumbnail">
        </div>
        <div class="col-md-6">
        {% else %}
        <div class="col-md-12">
        {% endif %}
          <div class="card-body">
            <h3 class="card-title">{{ project.title }}</h3>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
