<div class="grid-item">
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
    <div class="card hoverable">
      {% if project.img %}
      <img style="max-width: 300px; object-fit: contain;" src="{{ project.img | relative_url }}" alt="{{ project.description }}">
      {% endif %}
      <div class="card-body">
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </div>
  </a>
</div>
