---
layout: default
---


<div class="post">
  <header class="post-header">

    <div>
      <center>
      <table>
      <tr>
        <td style="padding:10px;text-align:center">
            <h1 class="post-title">
              {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
            </h1>
            <span style="font-size:17px;">
            {{ page.description }}
            </span>
        </td>
        <td style="padding:10px 40px 10px 40px">
          <img width="210px" class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}" alt="{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}">
        </td>
      </tr>
      </table>
      </center>
      <br>
      </div>

  </header>

  <article>

    {% if site.announcement %}
    <div class="alert alert-success">
    <center>
      <p> {{ site.announcement }} </p>
    </center>
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
